@using Model
@model Order

<div class="row order" style="margin-top: 10px;">
    <h2>Your order</h2>
    @if (Model != null && Model.Food.Type == (Model.Type)2)
    {


        <div class="col-md-4">
            <div class="card order-item">
                <h4>@Model.Food.MealTime.ToString()</h4>
                <h5>Food Name: @Model.Food.Name</h5>
                <h6>Size: @Model.Food.Size</h6>
                <h6>Price: @Model.TotalPrice VNĐ</h6>
                <a asp-action="CancelOrder" asp-route-id="@Model.Id" class="btn btn-danger" style="color: #fff;">Cancel order</a>
            </div>
        </div>

    }
    else if (Model != null && Model.Food.Type == (Model.Type)1)
    {
        <h4>@Model.Foods[0].MealTime.ToString()</h4>
        <div class="row">
            <div id="option-meal" class="col-md-3">
                <div class="card order-item" style="cursor: pointer;">
                    <h5>Food Name: Option meal</h5>
                    <h6>Click for more details</h6>

                </div>
            </div>

        </div>
        <div class="row" id="detail" style="display: none;">
             <div class="cart-row">
                    <span class="cart-item cart-header cart-column">Food</span>
                    <span class="cart-price cart-header cart-column">Size</span>
                    
                </div>
            @foreach(var item in Model.Foods)
            {
                <div class="cart-row">
                <div class="cart-item cart-column">

                    <span class="cart-item-title">@item.Name</span>
                    </div>
                    <span class="cart-price cart-column">@item.Size</span>
            </div>
            }
            <button class="btn btn-primary" style="width: 15%; margin: 20px 10px;" onclick="closeDetail()">Close details</button>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h6>Total Price: @Model.TotalPrice VNĐ</h6>
                <a asp-action="CancelOrder" asp-route-id="@Model.Id" class="btn btn-danger" style="color: #fff;">Cancel order</a>
            </div>
        </div>
    }
    else
    {
        <h4>You don't have any order, order now on menu below!</h4>
    }

</div>


